/Tool
/ScreenShots
/_storage_
amd_ags_x64.dll
config.ini
CrashReport.exe
CrashReportDll.dll
D3D12/D3D12Core.dll
InstallerMessage_RunlScript.vdf
MonsterHunterRise.exe
nvngx_dlss.dll
re_chunk_000.pak
re_chunk_000.pak.patch_001.pak

*.cache
*.cache2
*.cache.write



ref_ui.ini
re2_fw_config.txt
re2_framework_log.txt
reframework_crash.dmp
pdlc/re_pdlc_130_1699488007.pak
imgui.ini
